
<Router AppAssembly="@typeof(Main).Assembly">
    <Found Context="routeData">
        <RouteView RouteData="@routeData" DefaultLayout="@typeof(EmptyLayout)"/>
        <FocusOnNavigate RouteData="@routeData" Selector="h1" />
    </Found>
    <NotFound>
        <LayoutView Layout="@typeof(EmptyLayout)">
            <p role="alert" Style="font-size:xx-large;">
                <MI18n Key="Sorry, there's nothing" Style="font-size:xx-large;" />
            </p>
        </LayoutView>
    </NotFound>
</Router>